<nav class="navbar navbar-expand-lg navbar-light shadow p-4">
    <a class="navbar-brand text-white" routerLink="/">World News</a>
    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="technology">
              Technology
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="business">
                Business
            </a>
        </li>
      </ul>
    </div>
</nav>